<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>SportIA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="header-container">
    <header class="header-site">
        <!-- <div class="hs__img"></div> -->
        <div class="hs__logo__menu-container">
            <div class="hs__logo">
                <img th:src="@{/img/logo.png}" alt="logo">
                <h1>SportIA</h1>
            </div>
            <div class="hs__menu-container">
                <input type="checkbox" name="btn-menu" id="btn-menu-check">
                <ul class="menu">
                    <li class="menu__group"><a href="#company" class="menu__link" th:text="#{main-menu-option1}"></a></li>
                    <li class="menu__group"><a href="#classes" class="menu__link" th:text="#{main-menu-option2}"></a></li>
                    <li class="menu__group"><a href="#contact" class="menu__link" th:text="#{main-menu-option3}"></a></li>
                    <li sec:authorize="isAnonymous()" id="btn-login-container" class="menu__group"><a id="btn-login" th:href="@{/login}" class="menu__link" th:text="#{btn-login}"></a></li>
                    <li sec:authorize="isAuthenticated()" class="menu__group li-user-autenticated">
                        <input type="checkbox" name="btn-i-user" id="i-user-check">
                        <label id="lb-i-user" for="i-user-check"><img th:src="@{/img/user-icon.png}" alt="user" class="i-user img-xxs"></label>
                        <ul class="user-options">
                            <li id="li-username"> <span sec:authentication="name"></span> <span sec:authorize="hasRole('ROLE_ADMIN')"> | ADMIN</span></li> <hr>
                            <li class="menu__group"><a href="#" th:text="#{i-user-option1}"></a></li>
                            <li class="menu__group"><a href="#" th:text="#{i-user-option2}"></a></li>
                            <li class="menu__group"><a href="#" th:text="#{i-user-option3}"></a></li>
                            <hr>
                            <li class="menu__group"><a th:href="@{/logout}" th:text="#{btn-logout}"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>

<div class="content">
    <section class="header-content">
        <h1 class="title-1" th:text="#{title-home}"></h1>
        <img id="company" th:src="@{/img/recreational-and-sports-classes.jpg}">
        <p><strong th:text="#{company-name}"></strong> <span th:text="#{company-description}"></span></p>
    </section>
    <hr>
    <section id="classes">
        <div id="types-class-container" class="justify-content-around mt-5 gap-5 flex-wrap" style="display: flex;">
            <div class="type-class text-center">
                <a th:href="@{/classes/{type}(type=recreational)}">
                <img id="t-rec" class="img-type-class img-small shadow" style="object-fit: cover;" th:src="@{/img/recreational-activities.jpeg}">
                </a>
                <h2 class="mt-2" th:text="#{recreative-lessons}"></h2>
            </div>
            <div class="type-class text-center">
                <a th:href="@{/classes/{type}(type=sports)}">
                <img id="t-dep" class="img-type-class img-small shadow" style="object-fit: cover;" th:src="@{/img/sport-activities.png}">
                </a>
                <h2 class="mt-2" th:text="#{sports-lessons}"></h2>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="footer__content">
        <div id="contact" class="footer__col ft-col-1">
            <h2 th:text="#{footer-title-col-1}"></h2>
        </div>
        <div class="footer__col ft-col-2">
            <h2 th:text="#{footer-title-col-2}"></h2>
        </div>
        <div class="footer__col ft-col-3">
            <h2></h2>
        </div>
    </div>
</footer>

</body>
</html>