<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title-signup}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/form.js}"></script>
</head>
<body>
    <div class="login-container">
        <h1 th:text="#{title-signup}"></h1>
        <form class="form-n" th:object="${user}" th:action="@{/signup}" method="post" enctype="utf8">
            <div class="row">
                <div class="form-field col">
                    <input type="text" id="name" name="name" autofocus="autofocus" th:field="${user.name}" th:placeholder="#{name-placeholder}"/>
                    <p class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-field col">
                    <input type="text" id="lastName" name="lastName" th:field="${user.lastName}" th:placeholder="#{lastname-placeholder}"/>
                    <p class="field-error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>
            </div>
            <div class="row">
                <div class="form-field col">
                    <input type="email" id="email" name="email" th:field="${user.email}" th:placeholder="#{email-placeholder}"/>
                    <p class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
            </div>
            <div class="row">
                <div class="form-field col">
                    <div style="display: flex">
                        <input type="password" id="password" name="password" th:field="${user.password}" th:placeholder="#{password-placeholder}">
                        <i class="bi bi-eye-slash toggle-password"></i>
                    </div>
                    <p class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
            <div class="row">
                <div class="form-field col">
                    <div style="display: flex">
                        <input type="password" id="matching-password" name="matching-password" th:field="*{matchingPassword}" th:placeholder="#{matching-password-placeholder}"/>
                        <i class="bi bi-eye-slash toggle-password"></i>
                    </div>
                    <p class="field-error" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></p>
                </div>
            </div>
            <div class="row text-start">
                <div class="col" style="color: #3a3a3a">
                    <h4 th:text="#{password-requirements}"></h4>
                    <ul>
                        <li th:text="#{password-requirements-1}"></li>
                        <li th:text="#{password-requirements-2}"></li>
                        <li th:text="#{password-requirements-3}"></li>
                    </ul>
                </div>
            </div>
            <input type="submit" th:value="#{btn-signup}" />
            <a class="d-block" th:href="@{/login}" th:text="#{btn-login}"></a>
        </form>
    </div>
</body>
</html>